# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
ENV/
env.bak/
venv/
ENV/
env/
venv/
ENV/xvfb-run/

# playground
playground.ipynb